body{
     overflow-x: hidden;

}
.mycard{
    transition: 0.5s ease;
}
.mycard:hover
{
margin-top: -30px;
}
.zoom-in
{
    transition: 0.5s ease;
}
.zoom-in div{
    overflow:hidden;
}
.zoom-in:hover div img
{
transform: scale(1.2);
}

swiper-container {
      width: 120%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;*/
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .p{
        width: 100px;
    }
    .A{
        text-align: justify;
    }